<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="HeaderFragment"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
</head>
<div class="sticky z-50 top-0 bg-error">
    <div class="navbar max-w-3xl mx-auto bg-error">
        <div class="navbar-start">
            <div class="dropdown">
                <label tabindex="0" class="btn btn-square btn-ghost btn-circle">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current text-white">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </label>
                <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
                    <li><a th:href="@{/}"><i class="fa-sharp fa-solid fa-magnifying-glass"></i> 식당 검색</a></li>
                    <li sec:authorize="isAuthenticated() and hasAuthority('member')"><a th:href="@{/member/myInfo}"><i class="fa-solid fa-user"></i> 내 정보</a></li>
                    <li sec:authorize="isAuthenticated() and hasAuthority('admin')" ><a th:href="@{/restaurant/register}"><i class="fa-solid fa-address-card"></i> 식당 등록</a></li>
                    <li sec:authorize="isAuthenticated()" ><a th:href="@{/reservation/check}"><i class="fa-solid fa-utensils"></i> 내 예약</a></li>
                    <li sec:authorize="isAuthenticated()" ><a th:href="@{/review/check}"><i class="fa-solid fa-star"></i> 내 리뷰</a></li>
                    <li sec:authorize="isAnonymous()"><a  th:href="@{/member/join}"><i class="fa-solid fa-user-plus"></i> 회원가입</a></li>
                    <li sec:authorize="isAnonymous()"><a th:href="@{/member/login}"><i class="fa-solid fa-arrow-right-to-bracket"></i> 로그인</a></li>
                    <li sec:authorize="isAuthenticated()" ><a href="javascript:" onclick="$(this).next().submit();" ><i class="fa-solid fa-arrow-right-from-bracket"></i> 로그아웃</a>
                        <form class="!hidden" hidden th:action="|/member/logout|" method="POST"></form></li>
                </ul>
            </div>
            </label>
        </div>
        <div class="navbar-center">
            <a th:href="@{/}"  class="normal-case text-xl text-white" style="cursor: pointer">Grabit</a>
        </div>
        <div class="navbar-end">
            <div class="flex-none">
                <a th:if="${!@rq.isLogin() and @rq.currentPageUrl() == '/member/login'}" th:href="@{/member/join}" sec:authorize="isAnonymous()" class="btn btn-ghost">
                    <span class="flex items-center">
                        <i class="fa-solid fa-solid fa-user-plus text-base text-white"></i>
                        <span class="ml-2 text-base text-white">회원가입</span>
                    </span>
                </a>
                <a th:if="${!@rq.isLogin() and @rq.currentPageUrl() != '/member/login'}" th:href="@{/member/login}" sec:authorize="isAnonymous()" class="btn btn-ghost">
                    <span class="flex items-center">
                        <i class="fa-solid fa-arrow-right-to-bracket text-base text-white"></i>
                        <span class="ml-2 text-base text-white">로그인</span>
                    </span>
                </a>
                <a th:if="${@rq.isLogin()}" href="javascript: document.logoutForm.submit();" class="inline-flex" sec:authorize="isAuthenticated()">
                    <span class="flex items-center">
                        <i class="fa-solid fa-arrow-right-from-bracket text-base text-white"></i>
                        <span class="ml-2 text-base text-white">로그아웃</span>
                    </span>
                </a>
                <form name="logoutForm" th:action="@{/member/logout}" method="post" hidden></form>
            </div>
        </div>
    </div>
</div>
</html>