<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}">
<head>
    <meta charset="UTF-8">
    <title>식당 정보</title>
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta name="_csrf" th:content="${_csrf.token}">
</head>

<body>
<th:block layout:fragment="Content">
    <main class="min-h-screen flex flex-1 flex-col">
        <div class="flex-grow flex flex-col items-center justify-center">
            <div class="max-w-3xl mx-auto w-full mt-10 mb-5 px-4">
                <div class="bg-white  rounded-lg shadow-lg p-5">
                    <div class="flex items-center justify-between mb-4">
                        <div class="flex items-center">
                            <img src="https://i.postimg.cc/MKRjtWYH/IMG-4678-1024x742.jpg" alt="프로필 사진" class="w-32 h-32 sm:w-40 sm:h-40 rounded mr-5">
                            <div class="ml-2">
                                <div class="md:flex md:items-center sm:flex-row flex-col" style="position: relative;">
                                    <a sec:authorize="isAuthenticated() and hasAuthority('admin')" class="text-red-500 rounded text-lg absolute right-0 top-0 hidden md:block" th:href="@{/restaurant/{id}/edit(id=${restaurant.getRestaurantId})}">식당 수정</a>
                                    <a sec:authorize="isAuthenticated() and hasAuthority('admin')" class="text-red-500 rounded text-lg absolute right-0 top-0 md:hidden" th:href="@{/restaurant/{id}/edit(id=${restaurant.getRestaurantId})}">수정</a>
                                    <h2 class="text-2xl font-bold mt-0" th:text="${restaurant.restaurantName}"></h2>
                                    <div class="md:flex md:ml-3 sm:ml-0">
                                        <a class="normal-case text-base" th:href="@{/restaurant/review/{id}(id=${restaurant.restaurantId})}" style="cursor: pointer">
                                            <i class="fas fa-star text-yellow-500"></i>
                                            <span th:text="${averageRating + ' (' + reviewCount + ')'}"></span>
                                        </a>
                                    </div>
                                </div>
                                <div class="flex flex-col">
                                    <p class="mt-1" th:text="${restaurant.description}"></p>

                                    <div class="flex flex-col sm:flex-row mt-2">
                                        <div>
                                            <p class="font-bold">영업 시간</p>
                                            <p th:text="${restaurant.openingTime} + ' ~ ' + ${restaurant.closingTime}"></p>
                                        </div>
                                        <div class="md:ml-10 md:mt-0 mt-2">
                                            <p class="font-bold">전화번호</p>
                                            <p th:text="${restaurant.phoneNumber}"></p>
                                        </div>
                                    </div>

                                    <div class="mt-2">
                                        <p class="font-bold">주소</p>
                                        <p th:text="${restaurant.address.address1} + ' ' + ${restaurant.address.address2} + ' ' + ${restaurant.address.address3} + ' ' + ${restaurant.detail_address}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h3 class="text-lg font-bold mb-2">메뉴</h3>
                    <div class="h-[200px] overflow-y-auto">
                        <div th:if="${#lists.isEmpty(menuList)}" style="min-height: 200px;">
                            <div class="bg-gray-100 p-4 rounded-lg flex items-center" style="height: 100%; display: flex; justify-content: center; align-items: center;">
                                <span class="mr-1">메뉴가 존재하지 않습니다</span>
                                <i class="fa-regular fa-face-sad-tear" style="position:relative; top:-1px;"></i>
                            </div>
                        </div>
                        <div class="grid grid-cols-2 gap-4">
                            <div th:each="menu : ${menuList}" class="bg-gray-100 p-4 rounded-lg flex items-center">
                                <h4 class="text-md font-bold mb-2" th:text="${menu.menuName}">메뉴 이름</h4>
                                <p class="ml-auto" th:text="${menu.price + '원'}">메뉴 가격</p>
                            </div>
                        </div>
                    </div>

                    <h3 class="text-lg font-bold pt-5">예약하기</h3>
                    <div class="bg-gray-100 p-4 rounded-lg mt-2">
                        <form id="reservationForm" action="/reservation/reservation" method="post">
                            <input type="hidden" name="restaurantId" th:value="${restaurant.getRestaurantId}" >
                            <div class="mb-4">
                                <label for="name" class="block text-sm font-medium text-gray-700">이름</label>
                                <input type="text" id="name" name="name" class="bg-white border border-gray-300 rounded-md p-2 w-full">
                            </div>
                            <div class="mb-4">
                                <label for="phone" class="block text-sm font-medium text-gray-700">전화번호</label>
                                <input type="tel" id="phone" name="phone" class="bg-white border border-gray-300 rounded-md p-2 w-full" pattern="[0-9]{11}" title="올바른 전화번호 형식을 입력하세요. (예: 010-1234-5678)" placeholder="010XXXXXXXX">

                            </div>
                            <div class="mb-4">
                                <label for="date" class="block text-sm font-medium text-gray-700">날짜</label>
                                <input type="date" id="date" name="date" class="bg-white border border-gray-300 rounded-md p-2 w-full">
                            </div>
                            <div class="mb-4">
                                <label for="reservationTime" class="block text-sm font-medium text-gray-700">시간</label>
                                <select id="reservationTime" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                                    <option selected disabled>예약 시간 선택</option>
                                    <option th:each="time : ${reservationTimeList}" th:value="${time}" th:text="${time}"></option>
                                </select>
                            </div>
                            <div class="mb-4">
                                <label for="party-size" class="block text-sm font-medium text-gray-700">인원 수</label>
                                <input type="number" id="party-size" name="party-size" min="1" class="bg-white border border-gray-300 rounded-md p-2 w-full">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="flex justify-center mt-4">
                <button type="button" onclick="payment()" class="text-red-500 py-3 px-20 rounded-lg shadow-md text-lg mb-10" style="background-color: white;">예약하기</button>
            </div>

        </div>
    </main>

    <!--토스 페이먼츠 결제-->
    <script src="https://js.tosspayments.com/v1/payment"></script>
    <script th:inline="javascript">
        const clientKey = "test_ck_7XZYkKL4Mrjg6qGRJ2L80zJwlEWR";
        const tossPayments = TossPayments(clientKey);

        function payment() {
            // 결제 성공 시, 예약 controller 에 전달할 데이터들
            var form = document.getElementById('reservationForm');
            var name = form.name.value.trim(); //예약자명
            var phone = form.phone.value.trim(); //핸드폰 번호
            var date = form.date.value.trim(); //예약날짜
            var reservationTime = form['reservationTime'].value.trim(); // 예약시간
            var partySize = form['party-size'].value.trim(); //예약인원
            var restaurantId =  form.restaurantId.value;


            if (name === '') {
                alert('이름을 입력해주세요.');
                return false;
            }

            if (phone === '') {
                alert('전화번호를 입력해주세요.');
                return false;
            }

            if (date === '') {
                alert('날짜를 선택해주세요.');
                return false;
            }

            if (reservationTime === '') {
                alert('예약 시간을 선택해주세요.');
                return false;
            }

            if (partySize === '') {
                alert('인원 수를 입력해주세요.');
                return false;
            }

            // 요청 데이터 설정
            var data = {
                name: name,
                phone: phone,
                date: date,
                reservationTime: reservationTime,
                partySize: partySize,
                restaurantId: restaurantId
            };



            const method = "카드"; // "카드" 혹은 "가상계좌"
            const orderId = restaurantId + "_" + createUUID();

            const paymentData = {
                amount: 10000,
                orderId: orderId,
                orderName: "식당 예약",
                customerName: "고객",
                reservationRequestDto : data,
                successUrl: window.location.origin + "/payment/" + restaurantId + "/pay/success?name=" + name +"&phone="+phone+"&date="+date
                            +"&reservationTime="+reservationTime+"&partySize="+partySize+"&restaurantId="+restaurantId,
                failUrl: window.location.origin + "/payment/" + restaurantId + "/pay/fail",
            };
            tossPayments.requestPayment(method, paymentData);
        }

        function createUUID() {
            return ([1e7] + -1e3 + -4e3 + -8e3 + -1e11).replace(/[018]/g, c =>
                (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
            );
        }
    </script>
</th:block>

</body>
</html>