<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>식당 등록 샘플</title>
</head>
<body>

<form th:action="@{/restaurant/register}" th:object="${restaurantRegisterDto}" method="post">
    <input type="text" th:field="*{restaurantName}" />
    <div>
        <span th:if="${#fields.hasErrors('restaurantName')}" th:errors="*{restaurantName}"></span>
    </div>

    <input type="text" th:field="*{type}" />
    <div>
        <span th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></span>
    </div>

    <input type="text" th:field="*{address1}" />
    <div>
        <span th:if="${#fields.hasErrors('address1')}" th:errors="*{address1}"></span>
    </div>

    <input type="text" th:field="*{detail_address}" />
    <div>
        <span th:if="${#fields.hasErrors('detail_address')}" th:errors="*{detail_address}"></span>
    </div>


    <input type="text" th:field="*{startTime}" />
    <div>
        <span th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}"></span>
    </div>

    <input type="text" th:field="*{perTimeMaxReservationCount}" />
    <div>
        <span th:if="${#fields.hasErrors('perTimeMaxReservationCount')}" th:errors="*{perTimeMaxReservationCount}"></span>
    </div>


    <!-- 나머지 필드들에 대한 코드도 추가하세요 -->
    <input type="submit" value="Submit" />
</form>

</body>
</html>