<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}">

<head>
    <title>내 정보 수정하기</title>
    <script>
        function editForm__submit(dto) {
            dto.nickname.value = dto.nickname.value.trim();
            dto.phone.value = `${dto.phone1.value}-${dto.phone2.value}-${dto.phone3.value}`;
            dto.email.value = `${dto.email1.value}@${dto.email2.value}`;

            if (dto.nickname.value.length == 0) {
                dto.nickname.focus();
                return;
            }

            if (dto.nickname.value.length > 20) {
                dto.nickname.focus();
                return;
            }

            dto.email.value = dto.email.value.trim();

            if (dto.email.value.length == 0) {
                dto.email.focus();
                return;
            }

            dto.phone.value = dto.phone.value.trim();

            if (dto.phone.value == 0) {
                dto.phone.focus();
                return;
            }

            dto.submit();
        }
    </script>
</head>

<body>
<th:block layout:fragment="Content">
    <main class="flex flex-1 flex-col">
        <div class="flex-grow flex items-center justify-center">
            <div class="max-w-3xl w-full px-4">
                <form th:action method="POST" onsubmit="editForm__submit(this); return false;" th:object="${editInfo}">
                    <div class="form-control">
                        <label class="label">
                            <p><span class="label-text">닉네임</span></p>
                        </label>
                        <p>
                            <input type="text" placeholder="닉네임" th:field="*{nickname}" class="input input-bordered mb-4 w-full" id="nickname" />
                        </p>
                        <label class="label">
                            <span class="label-text">아이디</span>
                        </label>
                        <input type="text" placeholder="4~20자 이내, 영문자 사용 가능" class="input input-bordered mb-4" th:readonly="true" th:value="${editInfo.username}"/>
                        <label class="label">
                            <span class="label-text">전화번호</span>
                        </label>
                        <input name="phone" th:value="${editInfo.phone}" type="text"  maxlength="11" placeholder="숫자만 입력" class="input input-bordered w-full mb-4" autofocus/>
                        <label class="label">
                            <span class="label-text">이메일</span>
                        </label>
                        <input name="email" th:value="${editInfo.email}" type="text" placeholder="이메일" class="input input-bordered w-full mb-10" value="grabit" />
                    </div>
                    <div class="flex justify-center">
                        <button class="bg-white text-red-500 py-3 px-20 rounded-lg shadow-md text-lg mb-5">수정하기</button>
                    </div>
                </form>
                <style>
                    ::placeholder {
                        font-size: 13px;
                    }
                </style>
            </div>
        </div>
    </main>
</th:block>
</body>
</html>
