<html layout:decorate="~{common/layout.html}">

<!-- min-h-screen : min-height:100vh; -->
    <main class="min-h-screen flex flex-col" style="background-color: #FEE8E8">
        <body th:replace="navbar/navbar"></body>
        <div class="flex-grow flex items-center justify-center">
            <div class="max-w-3xl w-full px-4">
                <form>
                    <div class="form-control">
                        <label class="label">
                            <span class="text-lg">닉네임</span>
                        </label>
                        <input type="text" placeholder="닉네임" class="input input-bordered mb-4" autofocus />
                        <label class="label">

                            <span class="text-lg">아이디</span>
                        </label>
                        <input type="text" placeholder="4~20자 이내, 영문자 사용 가능" class="input input-bordered mb-4" autofocus />
                        <label class="label">
                            <span class="text-lg">비밀번호</span>
                        </label>
                        <input type="text" placeholder="비밀번호" class="input input-bordered mb-4" autofocus />
                        <label class="label">
                            <span class="text-lg">"비밀번호 확인"</span>
                        </label>
                        <input type="text" placeholder="4~20자 이내, 영문자 사용 가능" class="input input-bordered mb-4" autofocus />
                        <label class="label">
                            <span class="text-lg">전화번호</span>
                        </label>
                        <input type="text" placeholder="숫자만 입력" class="input input-bordered mb-4" autofocus />
                        <label class="label">
                            <span class="text-lg">이메일</span>
                        </label>
                        <input type="text" placeholder="이메일" class="input input-bordered mb-10" autofocus />
                    </div>
                </form>
                <div class="flex justify-center">
                    <button class="bg-white text-red-500 py-3 px-20 rounded shadow-md text-lg">가입하기</button>
                </div>
            </div>
        </div>
        <footer class="bg-error dark:bg-red-400">
            <div class="w-full mx-auto max-w-3xl p-4 md:flex md:items-center md:justify-between">
        <span class="text-sm text-white sm:text-center dark:text-white">© 2023 <a href="#" class="hover:underline">Grabit</a>. All Rights Reserved.
        </span>
                <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-white dark:text-white sm:mt-0">
                    <li>
                        <a href="#" class="mr-4 hover:underline md:mr-6 ">About</a>
                    </li>
                    <li>
                        <a href="#" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#" class="mr-4 hover:underline md:mr-6">Licensing</a>
                    </li>
                    <li>
                        <a href="#" class="hover:underline">Contact</a>
                    </li>
                </ul>
            </div>
        </footer>
    </main>
</html>