<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}"
      layout:fragment="Content">

    <head>
        <title>로그인</title>
        <script>
            function LoginForm__submit(form) {

                form.username.value = form.username.value.trim();

                if (form.username.value.length == 0) {
                    form.username.focus();
                    return;
                }

                if (form.username.value.length < 4) {
                    form.username.focus();
                    return;
                }

                form.password.value = form.password.value.trim();

                if (form.password.value.length == 0) {
                    form.password.focus();
                    return;
                }

                if (form.password.value.length < 4) {
                    form.password.focus();
                    return;
                }

                form.submit();
            }
        </script>
    </head>

    <body>
    <section layout:fragment="content">
        <main class="flex flex-col" style="background-color: #FEE8E8">
            <div class="flex-grow flex items-center justify-center">
                <div class="max-w-3xl w-full mt-8 px-4">
                    <div class="flex justify-center md:mt-12">
                        <div class="h-60 w-60 rounded-full bg-white flex items-center mb-5 md:mb-15 justify-center">
                            <h1 class="text-5xl font-bold text-red-500">Grabit</h1>
                        </div>
                    </div>
                    <form th:action method="POST" onsubmit="LoginForm__submit(this); return false;" class="flex flex-col justify-center">
                        <div class="flex flex-col justify-center items-center">
                            <div class="form-control flex justify-center w-full md:w-[500px]">
                                <label class="label">
                                    <span class="label-text">아이디</span>
                                </label>
                                <input type="text" name="username" class="input input-bordered mb-4 w-full md:w-120" autofocus />
                                <label class="label">
                                    <span class="label-text">비밀번호</span>
                                </label>
                                <input type="password" name="password" class="input input-bordered mb-4" autofocus />
                                <button class="bg-error text-white py-3 rounded-lg shadow-md text-lg mb-4 w-full md:w-120">로그인</button>
                            </div>
                        </div>
                        <div class="flex justify-center">
                            <div class="md:w-[500px]">
                                <button onclick="window.location.href='/oauth2/authorization/kakao'" class="bg-white py-3 px-4 rounded-lg shadow-md text-lg mb-4 w-full md:w-120">
                                    <i class="fa-solid fa-comment text-yellow-400"></i>
                                    <span>카카오로 시작하기</span>
                                </button>
                                <button onclick="window.location.href='/oauth2/authorization/naver'" class="bg-white py-3 px-4 rounded-lg shadow-md text-lg mb-10 w-full md:w-120">
                                    <i class="fa-solid fa-n text-[color:#2DB400]"></i>
                                    <span>네이버로 시작하기</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </section>
    </body>
</html>