<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}"
      layout:fragment="Content" xmlns:sec="http://www.w3.org/1999/xhtml">

    <head>
        <title>내 정보</title>
    </head>

    <style>
        .custom-icon {
            font-size: 4rem;
            /* 아이콘 크기 */
            display: flex;
            align-items: center;
            justify-content: center;
            width: 7rem;
            /* 원의 너비 */
            height: 7rem;
            /* 원의 높이 */
            border-radius: 50%;
            /* 원의 모양을 만들기 위한 둥근 테두리 반지름 */
            background-color: #e2e8f0;
            /* 원의 배경색 */
        }
    </style>

    <body>
    <section layout:fragment="content">
        <main class="flex flex-col" style="background-color: #FEE8E8">
            <div class="flex-grow flex items-center justify-center">
                <div class="max-w-3xl w-full mt-5 px-4">
                    <div class="flex w-full justify-between">
                        <div class="bg-white rounded-md mb-5 px-6 py-3 flex justify-center items-center">
                            <h2 class="text-xl text-red-400 font-semibold">내 정보</h2>
                        </div>
                    </div>
                    <div class="max-w-3xl bg-white rounded-lg shadow-lg p-5 h-[300px] md:h-[150px] mx-auto mb-5 items-center justify-center relative">
                        <div class="flex items-center justify-center md:justify-between mb-4">
                            <div class="flex items-center flex-col md:flex-row">
                                <i class="fa-solid fa-user custom-icon"></i>
                                <!-- 프로필 사진
                                <img src="경로/프로필사진.jpg" alt="프로필 사진" class="w-auto h-auto rounded-full mr-10">
                                -->
                                <div class="md:ml-7">
                                    <div class="flex justify-center md:justify-start">
                                        <h2 class="text-2xl font-bold mt-3 md:mt-1 mb-3" th:text="${userInfo.username}">그래빗</h2>
                                    </div>
                                    <div class="flex flex-col">
                                        <div class="flex flex-col md:flex-row">
                                            <p>이메일 <span class="hidden md:inline mr-1">:</span></p>
                                            <p th:text="${userInfo.email}">grabit@example.com</p>
                                        </div>
                                        <div class="flex flex-col md:flex-row">
                                            <p>전화번호 <span class="hidden md:inline mr-1">:</span></p>
                                            <p th:text="${userInfo.phone}">123-456-7890</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="self-start absolute right-5">
                                <button sec:authorize="isAuthenticated()" th:href="@{/member/editInfo}" class="text-red-500 rounded text-lg">전체 보기</button>
                            </div>
                        </div>
                    </div>
                    <div class="max-w-3xl bg-white rounded-lg shadow-lg p-5 h-[255px] mx-auto mb-5 overflow-x-auto">
                        <div class="flex items-center justify-between mb-4 sticky top-0 bg-white z-10">
                            <div class="flex items-center">
                                <div>
                                    <h2 class="text-2xl font-bold">내 예약</h2>
                                </div>
                            </div>
                            <div class="self-start">
                                <button class="text-red-500 rounded text-lg">전체 보기</button>
                            </div>
                        </div>
                        <div class="flex overflow-x-auto">
                            <div class="flex-shrink-0 pl-7 bg-white rounded-lg shadow-lg p-4 mr-3" style="height: 150px; width: 150px;">
                                <h2 class="text-xl font-semibold mb-3">AAA 식당</h2>
                                <p>2023-06-01</p>
                                <p>오후 7:00</p>
                                <p>2명</p>
                            </div>
                            <div class="flex-shrink-0 pl-7 bg-white rounded-lg shadow-lg p-4 mr-3" style="height: 150px; width: 150px;">
                                <h2 class="text-xl font-semibold mb-3">BBB 식당</h2>
                                <p>2023-06-01</p>
                                <p>오후 7:00</p>
                                <p>2명</p>
                            </div>
                            <div class="flex-shrink-0 pl-7 bg-white rounded-lg shadow-lg p-4 mr-3" style="height: 150px; width: 150px;">
                                <h2 class="text-xl font-semibold mb-3">CCC 식당</h2>
                                <p>2023-06-01</p>
                                <p>오후 7:00</p>
                                <p>2명</p>
                            </div>
                            <div class="flex-shrink-0 pl-7 bg-white rounded-lg shadow-lg p-4 mr-3" style="height: 150px; width: 150px;">
                                <h2 class="text-xl font-semibold mb-3">DDD 식당</h2>
                                <p>2023-06-01</p>
                                <p>오후 7:00</p>
                                <p>2명</p>
                            </div>
                            <div class="flex-shrink-0 pl-7 bg-white rounded-lg shadow-lg p-4 mr-3" style="height: 150px; width: 150px;">
                                <h2 class="text-xl font-semibold mb-3">EEE 식당</h2>
                                <p>2023-06-01</p>
                                <p>오후 7:00</p>
                                <p>2명</p>
                            </div>
                            <div class="flex-shrink-0 pl-7 bg-white rounded-lg shadow-lg p-4 mr-3" style="height: 150px; width: 150px;">
                                <h2 class="text-xl font-semibold mb-3">FFF 식당</h2>
                                <p>2023-06-01</p>
                                <p>오후 7:00</p>
                                <p>2명</p>
                            </div>
                            <div class="flex-shrink-0 pl-7 bg-white rounded-lg shadow-lg p-4 mr-3" style="height: 150px; width: 150px;">
                                <h2 class="text-xl font-semibold mb-3">GGG 식당</h2>
                                <p>2023-06-01</p>
                                <p>오후 7:00</p>
                                <p>2명</p>
                            </div>
                        </div>
                    </div>
                    <div class="max-w-3xl bg-white rounded-lg shadow-lg p-5 h-[255px] mx-auto mb-5 overflow-x-auto">
                        <div class="flex items-center justify-between mb-4 sticky top-0 bg-white z-10">
                            <div class="flex items-center">
                                <div>
                                    <h2 class="text-2xl font-bold">내 리뷰</h2>
                                </div>
                            </div>
                            <div class="self-start">
                                <button class="text-red-500 rounded text-lg">전체 보기</button>
                            </div>
                        </div>
                        <div class="flex overflow-x-auto">
                            <div class="flex-shrink-0 pl-7 bg-white rounded-lg shadow-lg p-4 mr-3" style="height: 150px; width: 150px;">
                                <h2 class="text-xl font-semibold mb-3">AAA 식당</h2>
                                <p>2023-05-30</p>
                                <div class="flex items-center">
                                    <i class="fas fa-star text-yellow-500 mr-1"></i>
                                    <p>4.5</p>
                                </div>
                                <p>맛있었어요!</p>
                            </div>
                            <div class="flex-shrink-0 pl-7 bg-white rounded-lg shadow-lg p-4 mr-3" style="height: 150px; width: 150px;">
                                <h2 class="text-xl font-semibold mb-3">BBB 식당</h2>
                                <p>2023-06-01</p>
                                <div class="flex items-center">
                                    <i class="fas fa-star text-yellow-500 mr-1"></i>
                                    <p>4.5</p>
                                </div>
                                <p>맛있었어요!</p>
                            </div>
                            <div class="flex-shrink-0 pl-7 bg-white rounded-lg shadow-lg p-4 mr-3" style="height: 150px; width: 150px;">
                                <h2 class="text-xl font-semibold mb-3">CCC 식당</h2>
                                <p>2023-06-01</p>
                                <div class="flex items-center">
                                    <i class="fas fa-star text-yellow-500 mr-1"></i>
                                    <p>4.5</p>
                                </div>
                                <p>맛있었어요!</p>
                            </div>
                            <div class="flex-shrink-0 pl-7 bg-white rounded-lg shadow-lg p-4 mr-3" style="height: 150px; width: 150px;">
                                <h2 class="text-xl font-semibold mb-3">DDD 식당</h2>
                                <p>2023-06-01</p>
                                <div class="flex items-center">
                                    <i class="fas fa-star text-yellow-500 mr-1"></i>
                                    <p>4.5</p>
                                </div>
                                <p>맛있었어요!</p>
                            </div>
                            <div class="flex-shrink-0 pl-7 bg-white rounded-lg shadow-lg p-4 mr-3" style="height: 150px; width: 150px;">
                                <h2 class="text-xl font-semibold mb-3">EEE 식당</h2>
                                <p>2023-06-01</p>
                                <div class="flex items-center">
                                    <i class="fas fa-star text-yellow-500 mr-1"></i>
                                    <p>4.5</p>
                                </div>
                                <p>맛있었어요!</p>
                            </div>
                            <div class="flex-shrink-0 pl-7 bg-white rounded-lg shadow-lg p-4 mr-3" style="height: 150px; width: 150px;">
                                <h2 class="text-xl font-semibold mb-3">FFF 식당</h2>
                                <p>2023-06-01</p>
                                <div class="flex items-center">
                                    <i class="fas fa-star text-yellow-500 mr-1"></i>
                                    <p>4.5</p>
                                </div>
                                <p>맛있었어요!</p>
                            </div>
                            <div class="flex-shrink-0 pl-7 bg-white rounded-lg shadow-lg p-4 mr-3" style="height: 150px; width: 150px;">
                                <h2 class="text-xl font-semibold mb-3">GGG 식당</h2>
                                <p>2023-06-01</p>
                                <div class="flex items-center">
                                    <i class="fas fa-star text-yellow-500 mr-1"></i>
                                    <p>4.5</p>
                                </div>
                                <p>맛있었어요!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </section>
    </body>
</html>