<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}" xmlns:sec="http://www.w3.org/1999/xhtml">

    <head>
        <title>내 정보</title>

        <style>
            .custom-icon {
                font-size: 4rem;
                /* 아이콘 크기 */
                display: flex;
                align-items: center;
                justify-content: center;
                width: 7rem;
                /* 원의 너비 */
                height: 7rem;
                /* 원의 높이 */
                border-radius: 50%;
                /* 원의 모양을 만들기 위한 둥근 테두리 반지름 */
                background-color: #e2e8f0;
                /* 원의 배경색 */
            }

            ul {
                display: flex;
                flex-direction: row;
                overflow-x: auto;
            }
            li {
                flex: none; /* This prevents flexbox from trying to squeeze or stretch your items */
            }
        </style>
    </head>

    <body>
    <th:block layout:fragment="Content">
        <main class="flex flex-1 flex-col">
            <div class="flex-grow flex items-center justify-center">
                <div class="max-w-3xl w-full mt-5 px-4">
                    <div class="flex w-full justify-between">
                        <div class="bg-white rounded-md mb-5 px-6 py-3 flex justify-center items-center">
                            <h2 class="text-xl text-red-400 font-semibold">내 정보</h2>
                        </div>
                    </div>
                    <div class="max-w-3xl bg-white rounded-lg shadow-lg p-5 h-[300px] md:h-[150px] mx-auto mb-5 items-center justify-center relative">
                        <div class="flex items-center justify-center md:justify-between mb-4">
                            <div class="flex items-center flex-col md:flex-row">
                                <i class="fa-solid fa-user custom-icon"></i>
                                <!-- 프로필 사진
                                <img src="경로/프로필사진.jpg" alt="프로필 사진" class="w-auto h-auto rounded-full mr-10">
                                -->
                                <div class="md:ml-7">
                                    <div class="flex justify-center md:justify-start">
                                        <h2 class="text-2xl font-bold mt-3 md:mt-1 mb-3" th:text="${userInfo.nickname}">그래빗</h2>
                                    </div>
                                    <div class="flex flex-col">
                                        <div class="flex flex-col md:flex-row">
                                            <p>이메일 <span class="hidden md:inline mr-1">:</span></p>
                                            <p th:text="${userInfo.email}">grabit@example.com</p>
                                        </div>
                                        <div class="flex flex-col md:flex-row">
                                            <p>전화번호 <span class="hidden md:inline mr-1">:</span></p>
                                            <p th:text="${userInfo.phone}">123-456-7890</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="self-start absolute right-5">
                                <a sec:authorize="isAuthenticated()" class="text-red-500 rounded text-lg" th:href="@{/member/editInfo}">정보 수정</a>
                            </div>
                        </div>
                    </div>
                    <div class="max-w-3xl bg-white rounded-lg shadow-lg p-5 h-[255px] mx-auto mb-5 overflow-x-auto">
                        <div class="flex items-center justify-between mb-4 sticky top-0 bg-white z-10">
                            <div class="flex items-center">
                                <div>
                                    <h2 class="text-2xl font-bold">내 예약</h2>
                                </div>
                            </div>
                            <div class="self-start">
                                <a class="text-red-500 rounded text-lg" th:href="@{/reservation/check}">전체 보기</a>
                            </div>
                        </div>
                        <div class="flex overflow-x-auto">
                            <div th:if="${!#lists.isEmpty(reservations)}">
                                <ul>
                                    <li th:each="reservation: ${reservations}">
                                        <div class="flex-shrink-0 pl-7 bg-white rounded-lg shadow-lg p-4 mr-3" style="height: 150px; width: 150px;">
                                            <h2 class="text-xl font-semibold mb-3" th:text="${reservation.restaurantName}"></h2>
                                            <p th:text="${#temporals.format(reservation.date, 'yy.MM.dd')}" class="mb-1"></p>
                                            <div class="flex items-center mb-1">
                                                <p th:text="${reservation.reservationTime}"></p>
                                            </div>
                                            <p th:text="${reservation.status}"></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div th:unless="${!#lists.isEmpty(reservations)}" class="flex items-center justify-center w-full h-full text-center mt-10">
                                <div class="text-gray-400 max-w-3xl bg-white p-5 mb-5">
                                    <span class="mr-1">예약이 존재하지 않습니다</span>
                                    <i class="fa-regular fa-face-sad-tear" style="position:relative; top:-1px;"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="max-w-3xl bg-white rounded-lg shadow-lg p-5 h-[255px] mx-auto mb-5 overflow-x-auto">
                        <div class="flex items-center justify-between mb-4 sticky top-0 bg-white z-10">
                            <div class="flex items-center">
                                <div>
                                    <h2 class="text-2xl font-bold">내 리뷰</h2>
                                </div>
                            </div>
                            <div class="self-start">
                                <a class="text-red-500 rounded text-lg" th:href="@{/review/check}">전체 보기</a>
                            </div>
                        </div>
                        <div class="flex overflow-x-auto">
                            <div th:if="${!#lists.isEmpty(reviewList)}">
                                <ul>
                                    <li th:each="review: ${reviewList}">
                                        <div class="flex-shrink-0 pl-7 bg-white rounded-lg shadow-lg p-4 mr-3" style="height: 150px; width: 150px;">
                                            <h2 class="text-xl font-semibold mb-3" th:text="${review.restaurant.restaurantName}"></h2>
                                            <p th:text="${#temporals.format(review.createdAt, 'yy.MM.dd')}" class="mb-1"></p>
                                            <div class="flex items-center mb-1">
                                                <i class="fas fa-star text-yellow-500 mr-1" style="position:relative; top:-2px;"></i>
                                                <p th:text="${review.rating}"></p>
                                            </div>
                                            <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" th:text="${review.content}"></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div th:unless="${!#lists.isEmpty(reviewList)}" class="flex items-center justify-center w-full h-full text-center mt-10">
                                <div class="text-gray-400 max-w-3xl bg-white p-5 mb-5">
                                    <span class="mr-1">리뷰가 존재하지 않습니다</span>
                                    <i class="fa-regular fa-face-sad-tear" style="position:relative; top:-1px;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </th:block>
    </body>
</html>